#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  align-self: start;
  gap: 2rem;
}

header {
  /* height: 64px; */
  width: 100%;
}

header .header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin: 2rem auto;
  padding: 1rem 2rem;
  background-color: rgb(227, 227, 227);
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(85, 85, 85, 0.5);
  color: black;
}

nav .nav-inactive,
nav .nav-active {
  font-weight: bolder;
}

nav .nav-active {
  color: blue;
}

main {
  min-width: 500px;
}

.dark nav {
  background-color: rgb(81, 81, 81);
  color: white;
}
.dark nav .nav-active {
  color: rgb(165, 165, 253);
}

.logo {
  height: 3rem;
  /* height: 2rem; */
  /* height: 6em; */
  /* padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  /* a:nth-of-type(2) .logo { */
  .logo.react {
    animation: logo-spin infinite 20s linear;
  }
}

section,
.card {
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(85, 85, 85, 0.5);
  margin: 0.5rem auto;
}

strong {
  color: red;
}

/* .read-the-docs {
  color: #888;
} */
